.git/
.gitignore

build/

Thirdparty/librealsense/
Thirdparty/Pangolin/
Thirdparty/*/build/
Thirdparty/*/lib/

Examples*/**/mono_*
Examples*/**/stereo_*
Examples*/**/rgbd_*
Examples*/**/recorder_*
!Examples*/**/*.cc

.vscode/
.claude/
.serena/

datasets/
results/
Examples_old/

*.md
*.pdf
LICENSE
